@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #ffffff;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background: #15161e;

  &::after {
    position: fixed;
    content: "";
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }
}
*, *::after, *::before {
  box-sizing:border-box;
}
.weatherbox-page--wrapper {
  width: 100%;
}
.city-finder-page--spacing-force-wrapper {
  height: 100%;
  width: 100%;
}
.city-results--shown-lock {
  max-height: 100vh;
  overflow: hidden;
}
.city-finder-page--wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  transition: padding 0.4s ease;
  padding: 30vh 5% 50px 5%;
  position: relative;
}
.city-finder--page-title {
  position: absolute;
  top: 5vh;
  left: 5%;
  text-align: right;
  width: 90%;
  font-size: 2em;
  opacity: 0.2;
  text-transform: uppercase;
  transition: 0.4s ease;
  pointer-events: none;

  .city-results--shown & {
    transform: translateY(-30vh);
  }
}
.city-results--shown {
  padding-top: 5vh;
}
.city-finder-form--wrapper {
  width: 100%;
  & input {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
}
.city-finder--no-results {
  font-size: 1.5rem;
  margin-top: 20vh;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,0.5);
}
.city-finder--title {
  font-size: 1.5rem;
  color: rgba(255,255,255,0.9);
  margin: 0.25rem 0;
}

.city-finder--title-connect {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.8);
  padding: 5px 10px;
  transition: 0.1s ease-in-out;

  & .city-finder--title-spotify {
    transition: 0.1s ease-in-out;
  }

  &:hover, &:focus {
    border-color: transparent;
    padding-left: 0;
    padding-right: 20px;

    & .city-finder--title-spotify {
      color: #1bbc54;
    }
  }
}
.searched-city--form {
  display: flex;
  align-items: stretch;
  max-width: 100%;

  & input[type=text] {
    padding: 1rem 0 0 0;
    color: #d17c78;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #d17c78;
    font-size: 2.5rem;
    font-family: 'Playfair Display', sans-serif;
    height: 5rem;
    outline: 0;
    width: 100%;

    &::placeholder {
      color: #653a38;
    }
  }
  & input[type=submit] {
    padding: 20px;
    height: 5rem;
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
    color: #d17c78;
    border: 0;
    border-bottom: 2px solid #d17c78;
    background: transparent;
    outline: 0;
    cursor: pointer;
    &:hover, &:focus {
      color: white;
    }
  }
}
.searched-cities--wrapper {
  width: 100%;
  font-size: 1.2rem;
}
.searched-city--item {
  display: block;
  cursor: pointer;
  margin-top: 3px;
  padding: 1rem 0;
  box-sizing: border-box;
  transition: 0.2s ease;

  &:not(:first-child) {
    border-top: 2px solid rgba(255,255,255,0.3);
  }

  &:hover, &:focus {
    padding-left: 1.25rem;
  }
}
.searched-city-item--country{
  display: inline-block;
}
.searched-city-item--city {
  font-size: 1.5rem;
  color: rgba(255,255,255,0.95);
}
.searched-city-item--altcity {
  color: rgba(255,255,255,0.4);
}
.searched-city-item--region{
  display: inline-block;
  margin-right: 0.25em;
}
.searched-city-item--country {
  padding-top: 1rem;
}

.city-view-loading--wrapper {
  position:absolute;
  max-height: 50vh;
  max-width: 50vw;
}

.city-view-page--wrapper {
  padding: 40px 5%;
  width: 100%;
  min-height: 100vh;
}
.city-view--weather-wrapper {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #d17c78;
}
.city-view--city {
  font-family: 'Playfair Display', serif;
  font-size: 2.75rem;
  margin-bottom: 1.35rem;
}
.city-view--temperature {
  font-size: 1.5rem;
  color: rgba(255,255,255,1);
}
.city-view--condition-left {
  font-size: 1.15rem;
}
.city-view--wind {
  padding: 0 0 0.25rem 0;
  font-size: 1.25rem;

  &:before {
    content: '\f050';
    font-size: 1.25em;
    font-family: 'weathericons', sans-serif;
    margin-right: 1rem;
  }
}
.city-view--weather-icon {
  margin-right: 1rem;
}
.city-view--desc {
  padding: 0 0 0.25rem 0;
  display: block;
  font-size: 1.5rem;
}
.city-view--home-link {
  color: #d17c78;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0 1rem;
  position: relative;
  font-family: 'Quicksand', sans-serif;

  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: #d17c78;
    left: 0;
    transform: translateX(0) scaleX(0);
    transition: 0.1s ease;
  }

  &:hover:after, &:focus:after {
    transform: translateX(0) scaleX(1);
  }
}

.song-listing--refresh-music {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  & > button {
    background: 0;
    outline: 0;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: 1px solid #d17c78;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;

    &:hover, &:focus {
      background: #d17c78;
      color: #1a1e3d;
    }
  }
}
.recommended-songs--wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;

  & a {
    color: rgba(255,255,255,0.9);
    text-decoration: none;
  }
}

.song-listing--item {
  display: flex;
  flex: 30%;
  padding: 1rem 40px 1rem 0;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  align-items: flex-start;

  & > .song-listing--item-album-img {
    transition: 0.2s ease-in-out;
    display: block;
    position: relative;

    & > img {
      max-height: 150px;
      max-width: 150px;
    }
  }

  &:hover, &:focus {
    & > .song-listing--item-album-img {
      transform: translateX(15%);
    }
  }
}
.song-listing--info-wrapper {
  padding-left: 1rem;
  display: flex;
  flex-flow: column nowrap;
}
.song-listing--trackname {
  display: block;
  word-break: break-word;
  font-size: 1.25em;
}
.song-listing--artist {
  display: block;
}
.song-listing--save-song {
  background: 0;
  border: 0;
  outline: 0;
  font-family: serif;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;

  &:after {
    content: '+';
    color: #808080;
    padding: 0 10px;
    font-weight: 200;
    font-size: 2rem;
    transition: 0.3s ease;
  }

  &:hover:after, &:focus:after {
    color: #d0d0d0;
  }
}

.song-listing--song-in-library {
  &:after {
    font-size: 24px;
    content: '\2713';
    font-family: serif;
  }
  &:hover:after, &:focus:after {
    color: #d17c78;
  }
}

@media only screen and (min-width: 700px) {
  .song-listing--info-wrapper{
    background: #2d324c;
    padding: 15px 50px 15px 10px;
    color: #1a1e3d;
    border: 1px solid #15161e;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    transform: translateX(-10%);
    margin-top: 2rem;

    & .song-listing--trackname {
      color: white;
    }
    & .song-listing--artist {
      color: #ee8d89;
    }
  }
}
@media only screen and (max-width: 1280px) {
  .song-listing--item{
    flex: 35%;

    > img {
      max-width: 125px;
      max-height: 125px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .city-view--home-link {
    display: none;
  }
  .song-listing--item {
    flex: 100%;

    > img {
      max-width: 70px;
      max-height: 70px;
    }

    &:hover, &:focus {
      & > .song-listing--item-album-img {
        transform: translateX(-5%);
      }
    }
  }
}

// Loader
$hollowBoxSize: 3em;
$hollowLight: #ECECEC;
$hollowDark: #34495e;
$hollowTiming: 1.25s;

.loading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;

  & .hollow-loader {
    width: $hollowBoxSize;
    height: $hollowBoxSize;
    animation: loaderAnim $hollowTiming infinite ease-in-out;
    outline: 1px solid transparent;
    & .large-box {
      height: $hollowBoxSize;
      width: $hollowBoxSize;
      background-color: $hollowLight;
      outline: 1px solid transparent;
      position: fixed;
    }
    & .small-box {
      height: $hollowBoxSize;
      width: $hollowBoxSize;
      background-color: $hollowDark;
      position: fixed;
      z-index: 1;
      outline: 1px solid transparent;
      animation: smallBoxAnim $hollowTiming alternate infinite ease-in-out;
    }
  }
}

@keyframes smallBoxAnim {
  0% {transform: scale(0.2);}
  100% {transform: scale(0.75);}
}

@keyframes loaderAnim {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

.about-weatherbox--wrapper {
  flex: 1;
  width: 100%;
  padding: 1rem 0;

  & .about-weatherbox--center {
    color: rgba(255,255,255,0.8);
  }
}

.credit-to-me {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 10px 10px 0;
  font-size: 1rem;
  color: rgba(255,255,255,0.3);
  overflow: hidden;
  white-space: nowrap;
  transition: none;

  &--name {
    color: rgba(255,255,255,0.5);

    &:hover, &:focus {
      color: white;
    }
  }
  &--heart {
    color: #a00000;
  }
}